/*GLOBAL*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

header,
section,
footer,
aside,
nav,
main,
article,
figure {
    display: block;
}

html,
body {
    font-family: 'Montserrat', sans-serif;
    /*1rem = 20px*/
    font-size: 20px;
    /* khong khai ba1o font-size  1rem = 16px*/
}

.form-inline .form-control {
    display: inline-block;
    width: 450px !important;
    vertical-align: middle;
}


/* .navbar {
    margin: 40px;
    background-color: #b30018;
}*/

.navbar .navbar-brand {
    color: #b30018 !important;
}


/* number */

.number {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 50px 0;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 80;
    margin: auto;
}

.number__items {
    font-size: 30px;
    font-weight: 600;
    padding: 10px 0;
    text-align: center;
    width: 50%;
}

.number__items p {
    padding: 0 0;
}

.number__items .p2 {
    margin: 0 0;
}

.number__items p:first-child {
    color: #aa0013;
}

.number__items p:last-child {
    color: black;
}


/* end number */


/*TEAM*/

.team__content {
    grid-template-columns: repeat(4, 1fr);
    display: grid;
    grid-gap: 30px;
    width: 80%;
    margin: 0 auto;
}

.team__items {
    position: relative;
    margin: 0 auto;
}

.team__textBlack {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    line-height: 35px;
    padding: 100px 40px;
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
    -webkit-transform: scale(0);
    transform: scale(0);
}

.team_textPink {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #0068b3;
    color: white;
    width: 100%;
    padding: 20px;
}

.team__content img {
    display: block;
    width: 100%;
}

.team__items:hover .team__textBlack {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.team__items:hover .team_textPink {
    opacity: 0;
}

.team__heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    text-align: right;
    width: 70%;
    margin: 0 auto;
}

.team__items2 .team__textBlack {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
}

.team__items2:hover .team__textBlack {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}