.frame {
    position: relative;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    z-index: 0;
}

.frame:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 0;
    /* adjust for white space between pseudo element and next sibling */
    margin-right: -.25em;
    /* stretch line height */
    height: 100%;
}

.frame .content {
    /*margin:0 auto;width:100%;*/
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    /*	background-color:#FC3;*/
}

.main-content {
    position: absolute;
    top: 180px;
    right: 10px;
    left: 10px;
    bottom: 50px;
    z-index: 100;
    overflow: hidden;
}

.carousel-caption {
    /*position: relative;*/
    text-shadow: none;
    top: 0;
    bottom: 0;
    right: 10%;
    left: 10%;
}

.carousel-caption h1 {
    font-family: 'ultimapdaahairline';
    font-size: 30pt;
    letter-spacing: 3pt;
}

.carousel-caption p {
    font-family: 'Gotham-Light';
    font-size: 13.5pt;
    line-height: 22.6pt;
}

.centered-pills {
    text-align: center;
    height: 45px;
}

.centered-pills ul.nav-pills {
    display: inline-block
}

.centered-pills li {
    display: inline
}

.centered-pills a {
    float: left;
    color: #000;
    text-transform: uppercase;
    font-family: 'Gotham-Light';
}

.nav-pills>li>a {
    border-radius: 0 0;
}

* html .centered-pills ul.nav-pills,
*+html .centered-pills ul.nav-pills {
    display: inline
}

.wide {
    width: 100%;
    text-align: center;
    /*background-size:cover;*/
}

.nav>li>a {
    font-family: 'UltimaPDac-UltraLight';
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
    letter-spacing: 3px;
    margin-left: -2px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    outline: none !important;
}

.nav>li>a:hover {
    background-color: #dedede!important;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
    background-color: #be2b6d!important;
}

.footer {
    font-family: 'Gotham-Medium';
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding: 0 50px 0 0;
    font-size: 8pt;
    color: #000;
    background-color: #fff;
    text-align: right;
    /*padding: 1% 3%;*/
}

.footer a {
    color: #000;
    text-decoration: none;
}

.footer a:hover {
    color: #d6ac44;
}

.header-text {
    /*font-family: 'ultimapdaahairline';*/
    font-size: 28pt;
    text-align: center;
    height: 135px;
    line-height: 95px;
    padding-top: 17px;
    /*white-space: nowrap;*/
}

.service-name {
    position: absolute;
    top: 40px;
    width: 450px;
    bottom: 0;
}

.cap2-leftbox {
    position: absolute;
    top: 40px;
    width: 450px;
    bottom: 0;
}

.cap2-leftbox .header {
    font-family: 'ultimapdaahairline';
    font-size: 45pt;
    line-height: 45px;
    margin-bottom: 40px;
    color: #000;
}

.cap2-leftbox .text {
    position: absolute;
    top: 90px;
    width: 450px;
    height: 310px;
    /*bottom: 0;*/
    font-family: 'Gotham-Light';
    font-size: 11pt;
    line-height: 15.8pt;
    text-align: justify;
    color: #000;
    -moz-font-feature-settings: 'smcp=1';
    /*background-color: #dfe;*/
    /*overflow: hidden;*/
}

.cap2-leftbox .header2dong {
    top: 90px;
}

.cap2-leftbox .text p {
    margin-bottom: 15.8pt;
    color: #000;
}

.cap2-rightbox {
    position: absolute;
    top: 40px;
    left: 500px;
    width: 400px;
    height: 400px;
    /*bottom: 0;*/
    /*background-color: #bc0;*/
}

.videoimg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../../images/video/1.jpg) 50% 50% no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
}

.educationimg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../../images/education/1.jpg) 100% 100% no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
}

.publicimg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../../images/public/1.jpg) 100% 100% no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
}

.services-list {
    position: absolute;
    /*width: 100%; */
    top: 179px;
    bottom: 50px;
    left: 10px;
    right: 10px;
    z-index: -1;
    /*background-color: #89F;*/
}

.services-list ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
    height: 100%;
}

.services-list li {
    position: relative;
    display: inline-block;
    float: left;
    width: 25%;
    height: 50%;
    cursor: pointer;
    border: 1px #FFF solid;
}

.services-list li a {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /*background-color: #AB0;*/
}

.services-list li div {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
}

.services-list img {
    position: absolute;
    left: 0;
    width: 100%;
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
}

.services-list .none {
    background-color: #000;
}

.services-list div.top {
    /*opacity: 0;*/
}

.services-list div.top:hover {
    opacity: 0;
}

.services-list .title {
    font-family: 'UltimaPDac-UltraLight';
    font-size: 22.5pt;
    line-height: 20.5pt;
    text-transform: uppercase;
    /*top:50%;*/
    height: 100%;
    color: #FFF;
    text-align: left;
}

.services-list .title span {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    padding-top: 30px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.services-list li:hover span {
    padding-top: 0px;
}

.carousel-indicators {
    bottom: 0px;
}

.carousel-indicators li,
.carousel-indicators .active {
    width: 10px;
    height: 10px;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 0;
    border: 0;
}

.carousel-indicators li {
    background-color: rgba(255, 255, 255, 0.45);
}

.project-list {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    /*z-index: -1;*/
}

.project-list ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
    height: 100%;
}

.project-list li {
    position: relative;
    display: inline-block;
    float: left;
    width: 25%;
    height: 50%;
    cursor: pointer;
    border: 1px #FFF solid;
}

.project-list li a {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /*background-color: #AB0;*/
}

.project-list li div {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
}

.project-list img {
    position: absolute;
    left: 0;
    width: 100%;
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
}

.project-list div.top {
    opacity: 0;
}

.project-list div.top:hover {
    opacity: 0;
}

.project-list .title {
    font-family: 'UltimaPDac-UltraLight';
    font-size: 22.5pt;
    line-height: 20.5pt;
    letter-spacing: 2px;
    text-transform: uppercase;
    /*top:50%;*/
    height: 100%;
    color: #FFF;
    text-align: left;
}

.project-list .title span {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    padding-top: 30px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.project-list li:hover span {
    padding-top: 0px;
}

.project-list .service-none {
    /*background-color: #666;*/
    background-color: #000;
    cursor: default;
}

.hieuung-mo {
    position: relative;
    font-family: 'UltimaPDac-UltraLight';
    font-size: 20pt;
    line-height: 20pt;
    letter-spacing: 2px;
    text-transform: uppercase;
    height: 100%;
    color: #FFF;
    text-align: left;
}

.hieuung-mo a {
    color: #FFF;
}

.hieuung-mo a:hover {
    color: #FFF;
}

.hieuung-mo div {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
}

.hieuung-mo .top {
    /*opacity:0;*/
}

.hieuung-mo .top:hover {
    opacity: 0;
}

.hieuung-mo .title span {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    padding-top: 30px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.hieuung-mo:hover span {
    padding-top: 0px;
}

.btn-back {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    z-index: 4;
}

.btn-back a {
    color: #FFF;
    font-size: 30px;
    opacity: .5;
}

.btn-back a:hover {
    /*color: #999;*/
    opacity: .8;
}