/*GLOBAL*/

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


section {
  display: block;
}

html,
body {
  font-family: 'UltimaPDac-UltraLight'!important;
  /*1rem = 20px*/
  font-size: 20px;
  /* kho6ng khai ba1o font-size  1rem = 16px*/
}
.number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 80;
  margin: auto;
}

.number__items {
  font-size: 20px;
  font-weight: 600;
  padding: 25px 0;
  text-align: center;
  width: 25%;
}

.number__items p {
  padding: 10px 0;
}

.number__items p:first-child {
  color: #be2b6d;
}

.number__items p:last-child {
  color: black;
}


